
html {
  font-size: 14px;
  line-height: 1.15;
  background-color: #FAFAFA;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
	height: 100%;
  overflow: hidden; 
}

a {
  text-decoration: none;
}


img {
  vertical-align: middle;
}

/* 定位居中 */
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 其子元素横向居中分布 */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex1 {
  flex: 1;
}

/* 悬停小爪 */
.cursor-pointer:hover {
  cursor: pointer;
}

/* 过长文字截断变... */
.overflow-dot {
  text-overflow :ellipsis; 
  overflow : hidden;
  white-space :nowrap; 
}

/* 去除默认边框 */
:focus-visible {
  outline: none;
}

/* 浏览器自动填充账号时背景色  */
input:-webkit-autofill{
	-webkit-box-shadow:0 0 0 1000px #FFF inset !important;
}

.btn {
  padding: 9px 23px;
  margin: 0 5px 0 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #dcdfe6;
  background-color: #FFF;
  color: #606266;
  font-weight: 500;
  background-clip: border-box;
}

.btn:hover {
  color: var(--blue);
  border-color:  #a0cfff;
  background-color: #a0cfff;
}

.btn:disabled {
  border-color:  #a0cfff;
  background-color: #a0cfff;
  cursor: not-allowed;
}

.btn-primary {
  padding: 10px 23px;
  margin: 0 5px 0 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #dcdfe6;
  color: #606266;
  font-weight: 500;
  background-clip: border-box;
  color: #FFF;
  background-color: var(--el-color-primary);
  /* border: 1px solid var(--el-color-primary); */
  border: none;
}

.btn-primary:hover {
  color: #FFF;
  border-color:  #79bbff;
  background-color: #79bbff;
}


.color-red {
  color: var(--el-color-error);
}

.color-blue {
  color: var(--el-color-primary);
}   

.mr5 {
  margin-right: 5px;
}